gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Release keystore is committed intentionally for CI signing
# Do NOT make this repository public
key.properties
